.header {
  display: flex;
  border-bottom: 1px solid #e8e8e8;

  :global(.ant-menu) {
    flex: 1;
    border-bottom: none;
  }
  .lang {
    width: 100px;
    position: relative;
    top: 6px;
  }
}