@logo_width: 36px;
@menu_deg: 30deg;
@setting_width: 36px;

.item() {
  color: @theme_color_black;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  &:hover {
    color: @theme_color_yellow;
  }
  
  &.active {
    border-bottom-color: @theme_color_yellow;
    &:hover {
      color: @theme_color_black;
    }
  }
}

.container {
  width: 100%;
  background-color: @theme_color_gray;

  .header{
    background-color: @theme_color_white;

    .headerContent {
      display: flex;
      width: @layout_body_width_web;
      height: @layout_header_height;
      margin: 0 auto;
      align-items: center;
  
      .logo {
        .item();
        height: @layout_header_height;
        line-height: @layout_header_height;
        width: @logo_width;
        text-align: center;
        overflow: hidden;

        & :global(.anticon) {
          height: @layout_header_height;
          line-height: @layout_header_height;
          font-size: 1.8em;
          color: inherit;
        }
      }
      .menu {
        .clearfix();
        flex: 1;
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: none;
        box-shadow: none;

        & > .menuItem {
          .item();
          height: @layout_header_height;
          line-height: @layout_header_height;
          padding: 0 20px;
          float: left;
          font-size: 16px;
        }
      }
      .setting {
        .item();
        width: @setting_width;
        text-align: center;
        & :global(.anticon) {
          font-size: 1.8em;
        }
      }
    }
  }

  .body {
    width: @layout_body_width_web;
    margin: @layout_spacing_vertical_web auto 0;
  }

  .footer {
    margin-top: @layout_spacing_vertical_web;
    background-color: @theme_color_white;
    .footerContainer {
      .clearfix();
      width: @layout_body_width_web;
      margin: 0 auto;
      padding: @layout_spacing_vertical_web 0;
    }

    .showAbout {
      float: left;
    }
    .language {
      padding: 0 8px;
      float: left;
      & > span {
        margin-right: 6px;
      }
      .lang {
        width: 150px;
      }
    }
    .otherInfo {
      text-align: center;
    }
  }

}