.selCon {
  width: 100%;
  padding: @layout_spacing_vertical_web 0;
  display: flex;

  .sel {
    flex: 1;
    margin-right: @layout_spacing_horizontal;

    &:last-child {
      margin-right: 0;
    }
  }
}
