:global(.extra-item) {
  .clearfix();
  display: block;
  height: 1.6em;
  position: relative;

  :global(.icon) {
    float: left;
    width: 1.4em;
    height: 1.4em;
    margin-right: 2px;
    position: relative;
    top: 0.1em;
  }
  :global(.label) {
    float: left;
    height: 1.6em;
    line-height: 1.6em;
    font-size: 1em;
  }
}
