@medal_width: 16px;

.importantContent() {
  i {
    padding: 0 .2em;
    color: @theme_color_yellow;
    font-style: normal;
  }
}
.medalBefore() {
  content: '';
  display: block;
  position: absolute;
  width: @medal_width;
  height: @medal_width;
  left: 0;
  top: 4px;
  border-radius: @medal_width/2;
}
.content {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }

  .title {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #c1c1c1;
    font-size: 18px;
  }
  .content {
    .importantContent();
    min-height: 100px;
  }
  .baseMission,
  .medalMission {
    float: left;
    width: 50%;
    padding: 0 10px;
  }

  .medalList {
    .importantContent();
    padding: 0;
    list-style: none;

    .medalCon {
      position: relative;
      padding: 4px 0;
      padding-left: @medal_width + 2px;

      &.gold {
        &:before {
          .medalBefore();
          background-color: #FFCF00;
        }
      }
      &.silver {
        &:before {
          .medalBefore();
          background-color: #CECFCE;
        }
      }
      &.copper {
        &:before {
          .medalBefore();
          background-color: #DE7521;
        }
      }
    }
  }
}

@media only screen
// and (min-device-width : 768px)
and (max-device-width : @layout_media_mobile_max_width) {
  .content {
    .baseMission,
    .extraMission {
      width: 100%;
    }
  }
}
