.warning {
  margin-bottom: @layout_spacing_vertical_web;
}
.canvasArea {
  min-height: 100px;
  position: relative;
  // max-height: 400px;
  // overflow: hidden;
  margin-bottom: @layout_spacing_vertical_web;
  background-color: #fff;
  border-radius: 3px;
  z-index: 0;
  resize: both;
  overflow: auto;

  .waitMap {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    
    .content {
      position: relative;
      top: 50%;
      margin-top: -18px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 1.2em;
      color: #fff;
    }
  }
  .loading {
    position: absolute;
    width: 100%;
    height: 100%;

    .content {
      position: relative;
      top: 50%;
      margin-top: -18px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 1.2em;
    }
  }
  canvas {
    z-index: 1;
  }
}
.btnArea {
  margin-bottom: @layout_spacing_vertical_web;
  & > :global(.ant-btn),
  & > :global(.ant-btn-group) {
    margin-right: @layout_spacing_horizontal;

    &:last-child {
      margin-right: 0;
    }
  }
}

.settingBtn {
  :global(.anticon) {
    font-size: 1.6rem !important;
  }
}
.settingList {
  background-color: @theme_color_white;
  padding: @layout_spacing_vertical_web*2 @layout_spacing_horizontal;
  border-radius: 3px;
  border: 1px solid @theme_color_gray;

  :global(.ant-checkbox-wrapper) {
    display: block;
    margin-bottom: 4px;
    margin-left: 0;
  }
}
.btnTips {
  padding: 0 0 8px;
}
