<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Girls' Frontline Database</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    ul,li {
      list-style: none;
    }
    html, body {
      height: 100%;
      width: 100%;
    }
    body {
      background-color: #34372F;
    }
    .container {
      width: 500px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-top: -212px;
      margin-left: -250px;
      font-size: 14px;
    }
    .title {
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 2em;
      color: #fff;
    }
    .title-en {
      text-align: center;
      font-size: .8em;
      color: #fff;
    }
    .card {
      position: relative;
    }
    .card:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-width: 30px 30px 0 0;
      border-style: solid;
      border-color: transparent #34372F transparent transparent;
    }
    .list {
      width: 500px;
      margin: 30px auto 0;
    }
    .list li {
      margin-bottom: 20px;
      text-align: center;
      color: #fff;
    }
    .item:after {
      border-width: 12px 12px 0 0;
    }
    .item > a {
      display: block;
      height: 48px;
      line-height: 48px;
      text-decoration: none;
      background-color: #efefef;
      color: #191919;
      font-size: 1.2em;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
      transition: all ease .3s;
    }
    .item > a:hover {
      background-color: #FFC000;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="title">少女前线数据网站</div>
    <div class="title-en">Girls' Frontline Database</div>
    <div class="list-container">
      <ul class="list">
        <li class="card item">
          本网站将不再更新，pohcy大佬制作了新的网站，网址如下。请更新书签链接等。
        </li>
        <li class="card item">
          本網站將不再更新，pohcy大佬制作了新的網站，網址如下。請更新書籤連結等。
        </li>
        <li class="card item">
          이 사이트는 갱신이 중단되었습니다. pohcy가 새 사이트를 만들었습니다. 아래 주소로 북마크 링크 등을 최신화하여 주세요.
        </li>
        <li class="card item">
          This site has stopped updating. Mr. pohcy has made a new site with the following link. Please update your bookmark link etc.
        </li>
        <li class="card item">
          このサイトは更新を停止しました。 pohcy氏は、次のリンクを含む新しいサイトを作成しました。ブックマークリンクなどを更新してください。
        </li>
        <li class="card item">
          <a href="https://gf.hometehomete.com/">https://gf.hometehomete.com/</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
